receivers:
  otlp/missing_service:
    protocols:
      grpc:
        endpoint: {{.OTLPEndpoint}}
service:
  pipelines:
    traces/{{.ServiceName}}:
      receivers: [otlp/missing_service]
      processors: [batch]
      exporters: [otlp]
